div.navigation {
    background-color: #222;
    overflow: hidden;
}

div.navigation a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

div.navigation a:hover {
    background-color: #eee;
    color: black;
}

td.interact:hover{
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

td.reserved{
    background-color: red;
}

td.userRes{
    background-color: green;
}

.invisible{
    display: none;
}
