div.navigation {
    background-color: #0a0a0b;
    overflow: hidden;
    margin-bottom: 2vh;
}

p#adminTag {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    padding: 0px;
}

div.navigation a, .admin {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;
}

div.navigation a:hover, div.navigation .admin:hover, .admin:hover > #adminTag {
    background-color: #cdcdcb;
    color: #000000;
}

div.navigation *.current, div.current > p {
    background-color: #cfcfb1;
    color: #000000;
    border-style: solid;
    border-width: 3px;
    border-color: #0a0a0b;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.admin {
  float: left;
  overflow: hidden;
}

#adminMenu {
  display: none;
  position: absolute;
  background-color: #2f2f2f;
  max-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  overflow: hidden;
}

#adminMenu > a {
    width: 100%;
    text-align: left;
}

.admin:hover #adminMenu {
  display: block;
}

tr > td {
    border-color: #cccccc;
    border-style: solid;
    border-width: 2px; 
}

td.interact:hover{
    border-color: #000000;
    border-style: solid;
    border-width: 5px;
}

th{
    padding: 5px;
}

.reserved{
    background-color: #511915;
}

.userRes{
    background-color: #33cc71;
}

.instruction > *{
    display: inline-block;
    margin: 0px;
}

p.instruction {
    margin-top: 5px;
}

.ninja{
    min-width: 0.5cm;
    min-height: 0.5cm;
    margin-right: 0.5cm;
    margin-left: 0.5cm;
}

.invisible{
    display: none;
}

#confirm {
    margin-left: 200px;
}

.highlight {
    background-color: #0a0a0b;
    color: #ffffff;
}
